In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/Lenovo/anaconda3/worldcup2014.csv",delimiter=',')
df

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1
10,Ivory Coast,africa,C,3,3,1,0,2,4,5,−1,3,0
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0
12,Costa Rica,northamerica,D,1,3,2,1,0,4,1,3,7,1
13,Uruguay,southamerica,D,2,3,2,0,1,4,4,0,6,1
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0
15,England,europe,D,4,3,0,1,2,2,4,−2,1,0
16,France,europe,E,1,3,2,1,0,8,2,6,7,1
17,Switzerland,europe,E,2,3,2,0,1,7,6,1,6,1
18,Ecuador,southamerica,E,3,3,1,1,1,3,3,0,4,0
19,Honduras,northamerica,E,4,3,0,0,3,1,8,−7,0,0
20,Argentina,southamerica,F,1,3,3,0,0,6,3,3,9,1
21,Nigeria,africa,F,2,3,1,1,1,3,3,0,4,1
22,Bosnia and Herzegovina,europe,F,3,3,1,0,2,4,4,0,3,0
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0
24,Germany,europe,G,1,3,2,1,0,7,2,5,7,1
25,United States,northamerica,G,2,3,1,1,1,4,4,0,4,1
26,Portugal,europe,G,3,3,1,1,1,4,7,−3,4,0
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [ ]:
#1. Considerando el experimento de seleccionar un país participante al azar, se pide determinar las probabilidades de los siguientes sucesos:

In [3]:
#a.-pertenecer a África
conteo_africa = df['continent'].value_counts()['africa']
conteo_total = df['continent'].count()

pertenecer_a_africa = conteo_africa / conteo_total 
print(pertenecer_a_africa)

0.15625

In [4]:
#b.-pertenecer a Asia
conteo_asia = df['continent'].value_counts()['asia']

pertenecer_a_asia = conteo_asia / conteo_total 
print(pertenecer_a_asia)

0.125

In [5]:
#c.-pertenecer a Europa
conteo_europe = df['continent'].value_counts()['europe']

pertenecer_a_europe = conteo_europe / conteo_total 
print(pertenecer_a_europe)

0.40625

In [6]:
#d.-pertenecer a Norteamérica
conteo_northamerica = df['continent'].value_counts()['northamerica']

pertenecer_a_northamerica = conteo_northamerica / conteo_total 
print(pertenecer_a_northamerica)

0.125

In [7]:
#e.-pertenecer a Sudamérica
conteo_southamerica = df['continent'].value_counts()['southamerica']

pertenecer_a_southamerica = conteo_southamerica / conteo_total 
print(pertenecer_a_southamerica)

0.1875

In [8]:
#f.clasificar a segunda ronda
clasificacion_segunda_ronda = df['clasificado'] == 1

In [9]:
prob_clasificacion_segunda_ronda = clasificacion_segunda_ronda.sum() / conteo_total 
prob_clasificacion_segunda_ronda

0.5

In [10]:
#g. ganar al menos un partido

ganar_al_menos_un_partido  = df['juegos_ganados'] >=1

In [11]:
prob_ganar_al_menos_un_partido = ganar_al_menos_un_partido.sum() / conteo_total 
prob_ganar_al_menos_un_partido

0.71875

In [22]:
#h. pertenecer a África y clasificar a segunda ronda
df['continent']== 'africa'

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
26    False
27     True
28    False
29     True
30    False
31    False
Name: continent, dtype: bool

In [23]:
df['clasificado'] == 1

0      True
1      True
2     False
3     False
4      True
5      True
6     False
7     False
8      True
9      True
10    False
11    False
12     True
13     True
14    False
15    False
16     True
17     True
18    False
19    False
20     True
21     True
22    False
23    False
24     True
25     True
26    False
27    False
28     True
29     True
30    False
31    False
Name: clasificado, dtype: bool

In [28]:
cantidad_africa_clasifique=df[(df['continent']== 'africa') &  (df['clasificado'] == 1)].shape[0]
cantidad_africa_clasifique

2

In [29]:
prob_pertenecer_africa_y_clasificar_segunda_ronda =cantidad_africa_clasifique / df.shape[0]
prob_pertenecer_africa_y_clasificar_segunda_ronda

0.0625

In [30]:
#i. pertenecer a Europa y clasificar a segunda ronda
cantidad_europa_clasifique=df[(df['continent']== 'europe') &  (df['clasificado'] == 1)].shape[0]
cantidad_europa_clasifique

6

In [31]:
prob_pertenecer_europa_y_clasificar_segunda_ronda =cantidad_europa_clasifique / df.shape[0]
prob_pertenecer_europa_y_clasificar_segunda_ronda

0.1875

In [ ]:
#j. pertenecer a Asia y clasificar a segunda ronda

In [32]:
cantidad_asia_clasifique=df[(df['continent']== 'asia') &  (df['clasificado'] == 1)].shape[0]
cantidad_asia_clasifique

0

In [33]:
prob_pertenecer_asia_y_clasificar_segunda_ronda =cantidad_asia_clasifique / df.shape[0]
prob_pertenecer_asia_y_clasificar_segunda_ronda

0.0

In [34]:
#k. pertenecer a Sudamérica y clasificar a segunda ronda
cantidad_southamerica_clasifique=df[(df['continent']== 'southamerica') &  (df['clasificado'] == 1)].shape[0]
cantidad_southamerica_clasifique

5

In [35]:
prob_pertenecer_southamerica_y_clasificar_segunda_ronda =cantidad_southamerica_clasifique / df.shape[0]
prob_pertenecer_southamerica_y_clasificar_segunda_ronda

0.15625

In [36]:
#l. pertenecer a Norteamérica y clasificar a segunda ronda
cantidad_northamerica_clasifique=df[(df['continent']== 'northamerica') &  (df['clasificado'] == 1)].shape[0]
cantidad_northamerica_clasifique

3

In [37]:
prob_pertenecer_northamerica_y_clasificar_segunda_ronda =cantidad_northamerica_clasifique / df.shape[0]
prob_pertenecer_northamerica_y_clasificar_segunda_ronda

0.09375

In [40]:
#m. pertenecer a África o clasificar a segunda ronda

cantidad_africa_o_clasifique=df[(df['continent']== 'africa') |  (df['clasificado'] == 1)].shape[0]
cantidad_africa_o_clasifique

19

In [41]:
prob_pertenecer_africa_o_clasificar_segunda_ronda =cantidad_africa_o_clasifique / df.shape[0]
prob_pertenecer_africa_o_clasificar_segunda_ronda

0.59375

In [42]:
#n. pertenecer a Europa o clasificar a segunda ronda

cantidad_europe_o_clasifique=df[(df['continent']== 'europe') |  (df['clasificado'] == 1)].shape[0]
cantidad_europe_o_clasifique

23

In [43]:
prob_pertenecer_europa_o_clasificar_segunda_ronda =cantidad_europe_o_clasifique / df.shape[0]
prob_pertenecer_europa_o_clasificar_segunda_ronda

0.71875

In [44]:
#o. pertenecer a Asia o clasificar a segunda ronda
cantidad_asia_o_clasifique=df[(df['continent']== 'asia') |  (df['clasificado'] == 1)].shape[0]
cantidad_asia_o_clasifique

20

In [45]:
prob_pertenecer_asia_o_clasificar_segunda_ronda =cantidad_asia_o_clasifique / df.shape[0]
prob_pertenecer_asia_o_clasificar_segunda_ronda

0.625

In [46]:
#p. pertenecer a Sudamérica o clasificar a segunda ronda
cantidad_southamerica_o_clasifique=df[(df['continent']== 'southamerica') |  (df['clasificado'] == 1)].shape[0]
cantidad_southamerica_o_clasifique

17

In [47]:
prob_pertenecer_southamerica_o_clasificar_segunda_ronda =cantidad_southamerica_o_clasifique / df.shape[0]
prob_pertenecer_southamerica_o_clasificar_segunda_ronda

0.53125

In [49]:
#q. pertenecer a Norteamérica o clasificar a segunda ronda

cantidad_northamerica_o_clasifique=df[(df['continent']== 'northamerica') |  (df['clasificado'] == 1)].shape[0]
cantidad_northamerica_o_clasifique

17

In [50]:
prob_pertenecer_northamerica_o_clasificar_segunda_ronda =cantidad_northamerica_o_clasifique / df.shape[0]
prob_pertenecer_northamerica_o_clasificar_segunda_ronda

0.53125

In [91]:
#r. pertenecer a África y haber ganado al menos un partido
prob_africa_y_ganar_un_partido = df[(df['continent']== 'africa') &  (df['juegos_ganados'] >= 1)].shape[0] / df.shape[0]
prob_africa_y_ganar_un_partido

0.09375

In [93]:
#s. pertenecer a Europa y haber ganado al menos un partido


prob_europa_y_ganar_un_partido = df[(df['continent']== 'europe') &  (df['juegos_ganados'] >= 1)].shape[0] / df.shape[0]
prob_europa_y_ganar_un_partido

0.34375

In [94]:
#t. pertenecer a Asia y haber ganado al menos un partido

prob_asia_y_ganar_un_partido = df[(df['continent']== 'asia') &  (df['juegos_ganados'] >= 1)].shape[0] / df.shape[0]
prob_asia_y_ganar_un_partido

0.0

In [95]:
#u. pertenecer a Sudamérica y haber ganado al menos un partido

prob_southamerica_y_ganar_un_partido = df[(df['continent']== 'southamerica') &  (df['juegos_ganados'] >= 1)].shape[0] / df.shape[0]
prob_southamerica_y_ganar_un_partido

0.1875

In [96]:
#v. pertenecer a Norteamérica y haber ganado al menos un partido
prob_northamerica_y_ganar_un_partido = df[(df['continent']== 'northamerica') &  (df['juegos_ganados'] >= 1)].shape[0] / df.shape[0]
prob_northamerica_y_ganar_un_partido

0.09375

In [97]:
#w. haber ganado al menos un partido y clasificar a segunda ronda

prob_ganado_clasificado = df[(df['clasificado'] == 1) &  (df['juegos_ganados'] >= 1)].shape[0] / df.shape[0]
prob_ganado_clasificado

0.5

In [ ]:
#2. A partir de las probabilidades anteriores, y sin realizar conteos, calcular las siguientes probabilidades:

In [82]:
#a. pertenecer a Europa, si se sabe que clasificó
# P( pertecene europa / clasifico a segunda vuelta) = prob pertenecer europa y clasificar segunda ronda / prob pertenece europa
prob_europa_clasifico_1= prob_pertenecer_europa_y_clasificar_segunda_ronda / pertenecer_a_europe 
prob_europa_clasifico_1

0.46153846153846156

In [83]:
#b. pertenecer a Sudamérica, si se sabe que clasificó
# P( pertecene sudamerica / clasifico a segunda vuelta) = prob pertenecer sudamerica y clasificar segunda ronda / prob pertenece sudamerica

prob_sudamerica_clasifico_2= prob_pertenecer_southamerica_y_clasificar_segunda_ronda  / pertenecer_a_southamerica  
prob_sudamerica_clasifico_2

0.8333333333333334

In [100]:
#c. pertenecer a África, si se sabe que ganó al menos un partido
# P( pertecene africa / gano al menos 1 partido) = prob pertenecer africa y gano al menos 1 partido / prob gano al menos 1 partido

prob_africa_gano_un_partido_1=  prob_africa_y_ganar_un_partido / prob_ganar_al_menos_un_partido
prob_africa_gano_un_partido_1

0.13043478260869565

In [102]:
#d. haber ganado al menos un partido, si se sabe que clasificó

#  P( ganar al menos 1 partido / clasifico) = prob ganar al menos 1 partido y clasificar a segunda ronda / prob clasificar

prob_ganar_clasificar_2= prob_ganado_clasificado / prob_clasificacion_segunda_ronda
prob_ganar_clasificar_2

1.0

In [104]:
#e. haber ganado al menos un partido, si se sabe que pertenece a Norteamérica
# P( haber ganado al menos 1 partido / pertenece a norteamerica) = prob haber ganado al menos 1 partido y ser de Norteamerica / prob pertenecer norteamerica


prob_ganar_un_partido_norteamerica_3= prob_northamerica_y_ganar_un_partido / pertenecer_a_northamerica 
prob_ganar_un_partido_norteamerica_3

0.75

In [106]:
#f. NO haber clasificado, si se sabe que pertenece a África
# A clasifico
# B africa
# P(A- / B) = p(A- n B ) / P(B)      
#Se usa la sgte igualdad P(A-n B)=P(B)−P(A∩B)
#Luego  = ( P(B)−P(A∩B) ) /P(B)
# Reemplazando

probabildad_final = (pertenecer_a_africa- prob_pertenecer_africa_y_clasificar_segunda_ronda)/pertenecer_a_africa
probabildad_final

0.6